
  
  
  .fade-in {
    animation: fadeIn ease 20s;
    -webkit-animation: fadeIn ease 20s;
    -moz-animation: fadeIn ease 20s;
    -o-animation: fadeIn ease 20s;
    -ms-animation: fadeIn ease 20s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
  
  
    p {
  
  
      animation-duration: 3s;
      
      
      animation-name: slidein;
      
      
      }
      
      
       
      
      
      @keyframes slidein {
      
      
      from {
      
      
      margin-left: 100%;
      
      
      width: 300%;
      
      
      }
      
      
       
      
      
      75% {
      
      
      font-size: 300%;
      
      
      margin-left: 25%;
      
      
      width: 150%;
      
      
      }
      
      
       
      
      
      to {
      
      
      margin-left: 0%;
      
      
      width: 100%;
      
      
      }
      
      
      }
  
  
  
  
  
      h1 {
  
  
        animation-duration: 2s;
        
        
        animation-name: slidein;
        
        
        }
        
        
         
        
        
        @keyframes slidein {
        
        
        from {
        
        
        margin-left: 100%;
        
        
        width: 300%;
        
        
        }
        
        
         
        
        
        to {
        
        
        margin-left: 0%;
        
        
        width: 100%;
        
        
        }
        
        
        }
  
  
  
  
  
  
  
        h2 {
  
  
          animation-duration: 3s;
          
          
          animation-name: slidein;
          
          
          }
          
          
           
          
          
          @keyframes slidein {
          
          
          from {
          
          
          margin-left: 100%;
          
          
          width: 300%;
          
          
          }
          
          
           
          
          
          to {
          
          
          margin-left: 0%;
          
          
          width: 100%;
          
          
          }
          
          
          }
  
  
  
  
  
          h3 {
  
  
            animation-duration: 3s;
            
            
            animation-name: slidein;
            
            
            }
            
            
             
            
            
            @keyframes slidein {
            
            
            from {
            
            
            margin-left: 100%;
            
            
            width: 300%;
            
            
            }
            
            
             
            
            
            to {
            
            
            margin-left: 0%;
            
            
            width: 100%;
            
            
            }
            
            
            }
  
  
  
            
  
  
  
  
  
  
  
  
  